@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

body {
  background-color: #20292F;
}

* {
    font-family: 'Noto Serif', serif;
    text-transform: none !important;
}

.AppCard_AppCardDetails__HgNoY h5 {
  font-size: 1.1em !important;
  margin-bottom: 4px !important;
  margin-left: 6px !important;
}

.BookmarkCard_Bookmarks__alLCe a {
  line-height: 2.1 !important;
}

.BookmarkCard_Bookmarks__alLCe a:hover {
  padding-left: 0 !important;
}

.BookmarkCard_Bookmarks__alLCe div {
  margin-right: 7px;
}